<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autism.sakil.autism">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CognitiveQuizActivity" />
        <activity android:name=".CognitiveTestScoreActivity" />
        <activity android:name=".VerbalQuizActivity" />
        <activity android:name=".ASDQuizActivity" />
        <activity android:name=".VerbalTestScoreActivity" />
        <activity android:name=".ASDTestDetailsActivity" />
        <activity android:name=".ASDTestResultActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CareCenterActivity" />
        <activity android:name=".CareCenterDetailsActivity" />
        <activity android:name=".InstructionActivity"></activity>
    </application>

</manifest>